*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Site{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(to left,#606c88, #3f4c6b);
    margin-top: 50px;
}

.title{
    margin-bottom: 30px;
    color:lightblue;
}

a{
    text-decoration: none;
    color:white;
}
.clear, .empty, #save {
    line-height: 40px; 
}


.clear:focus, .clear:hover, .clear:active,
.empty:focus, .empty:hover, .empty:active,
#save:focus, #save:hover, #save:active {
    color: #ff5e62;
    text-decoration: none; 
}

textarea{
    resize: none;
    background-color: #bdc3c7;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#save-text {
      background:#ff5e62;
      font-size: 16px;
      margin-top: 20px;
      padding:10px;
      border-radius: 10px;
      font-weight: bold;
      color:white;
      border:none;
      cursor: pointer;
      box-shadow: 0 5px rgb(0, 0, 0, .2);
}

.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

